/* Header Css */

.header_container {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.header_container .logo img {
  height: 30px;
  margin: 5px;
}

.logo {
  cursor: pointer;
}

.header_container div li {
  display: flex;
  height: 100%;
  float: left;
  margin-right: 30px;
  font-weight: bold;
}

.cartLogo img {
  height: 20px;
}

.header-option {
  margin: 10px;
}

.headerFont {
  text-decoration: none;
}

/* Footer Component CSS */

.hashFooter {
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  position: fixed;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* applicationHeading Css */

.applicationHeading {
  height: 70px;
  margin: 16px 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.headingData {
  width: 250px;
  font: normal normal 600 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 10px;
}

.applicationHeading img {
  height: 65px;
}

/* Course List Page */

.courseList {
  width: 900px;
  height: 600px;
  margin-left: 100px;
}

.category {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font: normal normal 600 16px/20px Montserrat;
  letter-spacing: 0px;
  color: #0f1317;
  opacity: 1;
}

.lineItem {
  display: flex;
  flex-direction: column;
}

.outerBox {
  width: 900px;
  height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f4f4f4;
  border-radius: 0px 0px 4px 4px;
}

.courseBox {
  margin: 10px;
  height: 35px;
  width: 45px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
}

.courseName {
  margin: 10px;
  height: 35px;
  width: 250px;
}

.authorName {
  margin: 10px;
  height: 35px;
  width: 100px;
}

.coursePrice {
  margin: 10px;
  height: 35px;
  width: 100px;
  font: normal normal bold 20px/24px Montserrat;
}

.addtoCart {
  margin: 10px;
  height: 35px;
  width: 140px;
  background: #ff6738 0% 0% no-repeat padding-box;
  font: normal normal 600 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  border: none;
}

.arrow {
  margin: 20px;
  height: 35px;
  cursor: pointer;
}

.star {
  margin: 10px;
  height: 35px;
}

.star img {
  height: 30px;
}

.search {
  margin: 10px;
  height: 35px;
  width: 100px;
  border: 1px solid black;
}

.mySearch {
  position: flex;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.wishList {
  width: 550px;
  height: 600px;
  border: 1px solid #ff7bac;
  box-shadow: 11px 12px 4px rgba(255, 123, 172, 0.25);
  margin-left: 1000px;
}

.windowCart {
  margin: 20px;
  margin-bottom: 50px;
}

.courseSearch {
  display: flex;

  justify-content: space-between;
}

.searchCourse {
  width: 380px;

  height: 600px;

  margin-right: 100px;

  /* border: 1px solid gray; */
  box-shadow: 0px 3px 6px #00000029;
}

.cartdetails {
  font: normal normal 600 18px/22px Montserrat;
}

.cartdetails {
  text-align: center;
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #080808;
  opacity: 1;
}

.cartadd {
  text-align: left;
  font: italic normal medium 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #aaaaaa;
  opacity: 1;
  margin: 20px;
  height: 450px;
}
/* Search button CSS */
.searchBut {
  width: 300px;
  background: #eff2ff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.searchBar {
  /* text-align: center; */
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  width: 500px;
  display: flex;
}

.visually-hidden {
  clip: rect(0 0 0 0);

  clip-path: inset(50%);

  height: 1px;

  overflow: hidden;

  position: absolute;

  white-space: nowrap;

  width: 1px;
}

.buttonIcon img {
  /* width: 10px; */
  height: 13px;
  width: 10px;
  /* display: flex;
  justify-content: space-around; */
  margin-top: 5px;
}

.buttonIcon {
  border: none;
  background: #ff6738;
  margin-top: 5px;
  object-fit: fill;
}

.textSize {
  /* width: 800px; */
  height: 400px;
  margin-top: 5px;
  background: #eff2ff 0% 0% no-repeat padding-box;
  border: none;
}

/* My cart footer */

.cartFooter {
  left: 0;
  bottom: 0;
  /* height: 60px;
  width: 100%; */
  position: buttom;
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 55px;
  text-align: left;
  /* opacity: 1; */
  /* align-self: flex-end; */
}

.cartDtl {
  display: flex;
  flex-direction: column;
  /* justify-content:space-around; */
}

.totalHeading {
  font: normal normal small 8px/10px Montserrat;
  letter-spacing: 0px;
  color: #080808;
  opacity: 1;
}

.totalValue {
  font: normal normal bold 28px/34px Montserrat;
}

.lineItemCart {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px #00000029;
}

.nameBox {
  display: flex;
  justify-content: space-between;
}

.cartItemTitle {
  width: 300px;
  margin: 2px;
  font: normal normal medium 8px/10px Montserrat;
  letter-spacing: 0px;
  color: #080808;
}

.lineItemPrice {
  margin-left: 250px;
  font: normal normal bold 16px/18px Montserrat;
  letter-spacing: 0px;
  color: #080808;
}

/* Error Screen */

#main {
  font-family: "Lato", sans-serif;
  color: #888;
  margin: 0;
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

.addToCartSh {
  width: 900px;
  height: 40px;
  margin-left: 100px;
  font: normal normal 600 18px/20px Montserrat;
}

.myCartLineItem {
  width: 950px;
  height: 70px;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f4f4f4;
  border-radius: 0px 0px 4px 4px;
}

.myCartName {
  margin-top: 10px;
  height: 35px;
  width: 250px;
}

.myCartPrice {
  margin-top: 10px;
  font: normal normal bold 18px/20px Montserrat;
  letter-spacing: 0px;
  color: #080808;
}

.deleteLogo img {
  margin-top: 10px;
  cursor: pointer;
}

.moveWish {
  margin-top: 10px;
  font: normal normal medium 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #1873ce;
  text-align: left;
}

.addcartTitle {
  font: normal normal 600 16px/20px Montserrat;
  letter-spacing: 0px;
  color: #080808;
}

.listCartItem {
  width: 1000px;
  height: 500px;
  margin-left: 100px;
}

.totalAmount {
  width: 300px;
  height: 180px;
  margin-right: 100px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #e0e0e0;
}

.cartAmount {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 400px;
}

/* CSS for CArt Div */

.totalCartAmount {
  margin: 10px;
  font: normal normal medium 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #080808;
}

.totalPrice {
  margin: 10px;
  font: normal normal 600 30px/37px Montserrat;
  letter-spacing: 0px;
  color: #080808;
}

.totalDiscount {
  margin: 10px;
  font-size: 14px;
  color: #629a33;
}

.totalCheckout {
  margin: 10px;
  width: 280px;
  height: 40px;
  background-color: #ff6738;
  color: white;
  border: none;
}

.recomCourse {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e0e0e0;
  margin-left: 100px;
  height: 200px;
  width: 1000px;
}

.recomandedHeader {
  margin: 10px;
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #4e4e4e;
}

.recomndedlineItem {
  margin-left: 10px;
}

/* Profile Data Page */

.userProfile {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.profilePhoto {
  /* border: 1px solid black; */
  height: 200px;
  width: 200px;
  margin-left: 100px;
}

.profilePhoto img {
  height: 200px;
  width: 250px;
}

.profileInfo {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  height: 600px;
  width: 1000px;
  margin-right: 100px;
}

.userNameDiv {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  column-gap: 0;
}

.userNameInput {
  background: #f7f8ff 0% 0% no-repeat padding-box;
  border: none;
  font: normal normal medium 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #848484;
  width: 200px;
  height: 20px;
}

.userNameTag {
  font: normal normal medium 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #454545;
}

.userAbout {
  background: #f7f8ff 0% 0% no-repeat padding-box;
  border: none;
  font: normal normal medium 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #848484;
  width: 700px;
  height: 100px;
  word-wrap: break-word;
}

.saveButton {
  width: 145px;
  height: 40px;
  /* UI Properties */
  background: #ff6738 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 60px;
  margin-left: 800px;
}
