/* Header Css */

.header_container {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.header_container .logo img {
  height: 30px;
  margin: 5px;
}

.header_container nav li {
  display: table;
  height: 100%;
  float: left;
  margin-right: 30px;
  font-weight: bold;
}

.cartLogo img {
  height: 20px;
}

.header-option {
  margin: 10px;
}
